@use "./mixins";

.Home-Presentacion {
    @include mixins.flex-container(row, center, center);
    background-color: #222b51;
    .info {
        @include mixins.flex-container(column, flex-start, flex-start);
        gap: 2vh;
        h1 {
            font-size: 2rem;
        }
        ul {
            margin-left: 1vw;
        }
    }
    img {
        border-radius: 15px;
        margin-left: 2vh;
    }
}
.Home-Educacion {
    @include mixins.flex-container(column, flex-start, flex-start);
    gap: 2vh;
    background-color: #222b51;
    h2 {
        font-size: 2rem;
    }
    .ed-info {
        @include mixins.flex-container(row, flex-start, right);
        article {
            @include mixins.flex-container(column, flex-start, flex-start);
        }
    }
}