@use "./mixins";

.Projects {
    @include mixins.flex-container(column, center, center);
    overflow: hidden;
    background-color: inherit !important;
    padding: 0 !important;
    .container-proyectos {
        @include mixins.flex-container(row, center, stretch);
        overflow: hidden;
        min-width: 600px;
        max-width: 1400px;
        width: calc(100% - 100px);
        height: 80vh;
        article.proyecto {
            &:hover {
                transform: scale(1.03);
                transition: 0.7s ease all;
                transition-delay: 0s;
            }
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            position: relative;
            overflow: hidden;
            min-width: 60px;
            margin: 10px;
            cursor: pointer;
            img {
                height: 100%;
            }
            &.active {
                flex-grow: 10000;
                transform: scale(1);
                max-width: 1400px;
                margin: 0;
                border-radius: 20px;
                background-size: auto 100%;
                .label {
                    bottom: 0;
                    left: 0;
                    img {
                        opacity: 1;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                    }
                    .bar {
                        bottom: 10px;
                        left: 10px;
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        border-radius: 20px;
                        backdrop-filter: blur(20px);
                    }
                    .info > h2 {
                        left: 0px;
                        opacity: 1;
                    }
                }
                
            }
            &:not(.active) {
                flex-grow: 1;
                border-radius: 30px;
                .label {
                    bottom: 10px;
                    left: 10px; 
                    img {
                        opacity: 0;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                    }
                    .icons {
                        opacity: 0;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                    }
                    .info > h2 {
                        left: 20px;
                        opacity: 0;
                    }
                }
            }
            .label {
                position: absolute;
                right: 0px;
                height: 100%;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                .number {
                    @include mixins.flex-container(row, center, center);
                    min-width: 40px;
                    max-width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: white;
                    h2 {
                      color: black;
                    }
                }
                .bar {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    width: 98%;
                }
                .info {
                    @include mixins.flex-container(column, center, center);
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    color: white;
                    white-space: pre;
                    > h2 {
                        position: relative;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
                        opacity 0.5s ease-out;
                    }
                    .icons {
                        display: flex;
                        position: absolute;
                        right: 10px;
                        gap: 0.5vw;
                        i {
                            font-size: 2rem;
                        }
                    }
                    h2 {
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }
            }
            &:nth-child(2) {
                background: rgb(15,20,36);
                background: -moz-linear-gradient(0deg, rgba(15,20,36,1) 0%, rgba(28,31,74,1) 50%, rgba(88,71,235,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(15,20,36,1) 0%, rgba(28,31,74,1) 50%, rgba(88,71,235,1) 100%);
                background: linear-gradient(0deg, rgba(15,20,36,1) 0%, rgba(28,31,74,1) 50%, rgba(88,71,235,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1424",endColorstr="#5847eb",GradientType=1); 
            }
            &:nth-child(3) {
                background: rgb(105,37,145);
                background: -moz-linear-gradient(0deg, rgba(105,37,145,1) 0%, rgba(100,72,254,1) 50%, rgba(96,5,148,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(105,37,145,1) 0%, rgba(100,72,254,1) 50%, rgba(96,5,148,1) 100%);
                background: linear-gradient(0deg, rgba(105,37,145,1) 0%, rgba(100,72,254,1) 50%, rgba(96,5,148,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#692591",endColorstr="#600594",GradientType=1); 
            }
            &:nth-child(1) {
                background: rgb(116,96,146);
                background: -moz-linear-gradient(0deg, rgba(116,96,146,1) 0%, rgba(22,23,34,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(116,96,146,1) 0%, rgba(22,23,34,1) 100%);
                background: linear-gradient(0deg, rgba(116,96,146,1) 0%, rgba(22,23,34,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#746092",endColorstr="#161722",GradientType=1); 
            }
            &:nth-child(4) {
                background: rgb(248,233,221);
                background: -moz-linear-gradient(0deg, rgba(248,233,221,1) 0%, rgba(236,119,95,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(248,233,221,1) 0%, rgba(236,119,95,1) 100%);
                background: linear-gradient(0deg, rgba(248,233,221,1) 0%, rgba(236,119,95,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8e9dd",endColorstr="#ec775f",GradientType=1); 
            }
            &:nth-child(5) {
                background: rgb(82,255,168);
                background: -moz-linear-gradient(0deg, rgba(82,255,168,1) 0%, rgba(50,58,73,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(82,255,168,1) 0%, rgba(50,58,73,1) 100%);
                background: linear-gradient(0deg, rgba(82,255,168,1) 0%, rgba(50,58,73,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52ffa8",endColorstr="#323a49",GradientType=1); 
            }
        }
    }
}