@use "./mixins";

.skill {
    position: relative;
    div.menu {
        @include mixins.flex-container(row,space-around,center);
        .option {
            @include mixins.flex-container(row,center,center);
            gap: 1.5vw;
            font-size: 4rem;
            padding: 25px;
            border-radius: 20px;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            }
        }
    }
    div.selected_skill {
        border-radius: inherit;
        width: 100%;
        padding: 3vh;
        left: 0;
        top: 0;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        display: none;
        height: 30vh;
        z-index: 9;
        .header {
            @include mixins.flex-container(row,space-between,center);
            button {
                @include mixins.flex-container(row,center,center);
                border-radius: 50%;
                width: 3vh;
                height: 3vh;
                padding: 3vh;
                border: none;
                background-color: rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
            margin-bottom: 2vh;
        }
        ul {
            margin: 3vh;
        }
        &.active {
            display: block;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        }
    }
}

.Frontend {
    background-color: #015461;
}
.Backend {
    background-color: #962c28;
}
.Infraestructura {
    background-color: #513671;
}
.SoftSkills {
    background-color: #5c7563;
}