@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
.Navbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .Navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    z-index: 1000;
  }
  .Navbar img {
    height: 12vh;
    padding: 1vh;
  }
  .Navbar div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .Navbar div a {
    text-decoration: none;
    padding: 0 9vh;
    font-size: 1.3rem;
    height: 12vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hover:hover, .Navbar img:hover, .Navbar div a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 8vh;
  }
  footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  footer ul li::after {
    content: "•";
    margin: 0 6px;
  }
  footer ul li:nth-last-child(1)::after {
    content: none;
  }
}
.Home-Presentacion {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.Home-Presentacion .info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}
.Home-Presentacion .info h1 {
  font-size: 2rem;
}
.Home-Presentacion .info ul {
  margin-left: 1vw;
}
.Home-Presentacion img {
  border-radius: 15px;
  margin-left: 2vh;
}

.Home-Educacion {
  margin-top: 0.25vh !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}
.Home-Educacion h2 {
  font-size: 2rem;
}
.Home-Educacion .ed-info {
  display: flex;
  align-items: right;
  flex-direction: row;
  justify-content: flex-start;
}
.Home-Educacion .ed-info article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.Projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: inherit !important;
  padding: 0 !important;
  margin: 3vh 0;
  padding: 3vh;
  border-radius: 15px;
  width: 97%;
  min-width: 75vh;
}
.Projects .container-proyectos {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  min-width: 600px;
  max-width: 1400px;
  width: calc(100% - 100px);
  height: 80vh;
}
.Projects .container-proyectos article.proyecto {
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  cursor: pointer;
}
.Projects .container-proyectos article.proyecto:hover {
  transform: scale(1.03);
  transition: 0.7s ease all;
  transition-delay: 0s;
}
.Projects .container-proyectos article.proyecto img {
  height: 100%;
}
.Projects .container-proyectos article.proyecto.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 1400px;
  margin: 0;
  border-radius: 20px;
  background-size: auto 100%;
}
.Projects .container-proyectos article.proyecto.active .label {
  bottom: 0;
  left: 0;
}
.Projects .container-proyectos article.proyecto.active .label img {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Projects .container-proyectos article.proyecto.active .label .bar {
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.Projects .container-proyectos article.proyecto.active .label .info > h2 {
  left: 0px;
  opacity: 1;
}
.Projects .container-proyectos article.proyecto:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.Projects .container-proyectos article.proyecto:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.Projects .container-proyectos article.proyecto:not(.active) .label img {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Projects .container-proyectos article.proyecto:not(.active) .label .icons {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Projects .container-proyectos article.proyecto:not(.active) .label .info > h2 {
  left: 20px;
  opacity: 0;
}
.Projects .container-proyectos article.proyecto .label {
  position: absolute;
  right: 0px;
  height: 100%;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.Projects .container-proyectos article.proyecto .label .number {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}
.Projects .container-proyectos article.proyecto .label .number h2 {
  color: black;
}
.Projects .container-proyectos article.proyecto .label .bar {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 98%;
}
.Projects .container-proyectos article.proyecto .label .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.Projects .container-proyectos article.proyecto .label .info > h2 {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.Projects .container-proyectos article.proyecto .label .info .icons {
  display: flex;
  position: absolute;
  right: 10px;
  gap: 0.5vw;
}
.Projects .container-proyectos article.proyecto .label .info .icons i {
  font-size: 2rem;
}
.Projects .container-proyectos article.proyecto .label .info h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
.Projects .container-proyectos article.proyecto:nth-child(2) {
  background: rgb(15, 20, 36);
  background: linear-gradient(0deg, rgb(15, 20, 36) 0%, rgb(28, 31, 74) 50%, rgb(88, 71, 235) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1424",endColorstr="#5847eb",GradientType=1);
}
.Projects .container-proyectos article.proyecto:nth-child(3) {
  background: rgb(105, 37, 145);
  background: linear-gradient(0deg, rgb(105, 37, 145) 0%, rgb(100, 72, 254) 50%, rgb(96, 5, 148) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#692591",endColorstr="#600594",GradientType=1);
}
.Projects .container-proyectos article.proyecto:nth-child(1) {
  background: rgb(116, 96, 146);
  background: linear-gradient(0deg, rgb(116, 96, 146) 0%, rgb(22, 23, 34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#746092",endColorstr="#161722",GradientType=1);
}
.Projects .container-proyectos article.proyecto:nth-child(4) {
  background: rgb(248, 233, 221);
  background: linear-gradient(0deg, rgb(248, 233, 221) 0%, rgb(236, 119, 95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8e9dd",endColorstr="#ec775f",GradientType=1);
}
.Projects .container-proyectos article.proyecto:nth-child(5) {
  background: rgb(82, 255, 168);
  background: linear-gradient(0deg, rgb(82, 255, 168) 0%, rgb(50, 58, 73) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52ffa8",endColorstr="#323a49",GradientType=1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: #293462;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main div.Main {
  margin: 3vh 0;
  padding: 3vh;
  border-radius: 15px;
  background-color: #222b51;
  width: 97%;
  min-width: 75vh;
  box-shadow: 6px 8px 16px 0px #1a213f;
}/*# sourceMappingURL=App.css.map */