@use "./Components/mixins";
@use "./Components/navbar";
@use "./Components/footer";
@use "./Components/home";
@use "./Components/projects";
@use "./Components/skills";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background-color: #293462;
}
main {
    @include mixins.flex-container(column, center, center);
    padding: 1.5vh 0;
    div.Main {
        margin: 1.5vh 0;
        padding: 3vh;
        border-radius: 15px;
        width: 97%;
        min-width: 75vh;
        @include mixins.shadow(#1a213f);
    }
}